body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white; /* para que el texto se vea sobre fondo oscuro */
  font-family: Arial, sans-serif;
}
.inspiracion {
  text-align: center;
}
.social-icons {
  justify-content: right;
}
.logo-container {
  text-align: center;
}
.contacto {
  text-align: center;
  color: white;
  padding: 40px 20px;
}

.contacto {
  display: flex;
  justify-content: center;
  gap: 50px; /* separación entre ítems */
  margin-top: 20px;
  flex-wrap: wrap; /* por si es muy estrecho el espacio */
}
.meidance-intro {
  background-color: black;
  color: white;
  padding: 50px 20px;
  text-align: center;
}
